<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Import bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <!-- Other Options -->
    <title>CheatGuard homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body class="container">
    <header>
        <h1>Welcome to CheatGuard</h1>
    </header>

    <!-- Display camera feed -->
    <main>
        {{ content|safe }}
    </main>

    <!-- Display all alerts -->
    <section>
        <h2>All Alerts</h2>
        <ul>
            {% for alert in alerts %}
            {% if alert.cam_no.isdigit() %}
            <li>
                <strong>Camera {{ alert.cam_no|int + 1 }}</strong>:
                <u>{{ alert.alert_type }}</u> at {{ alert.timestamp }}
            </li>
            {% else %}
            <li>
                <strong>Camera path {{ alert.cam_no }}</strong>:
                <u>{{ alert.alert_type }}</u> at {{ alert.timestamp }}
            </li>
            {% endif %}
            {% endfor %}
        </ul>

        <!-- Other options -->
        <a href="/alerts" class="btn btn-primary">View all alerts</a>&nbsp;&nbsp;
        <a href="/download_all_alerts" class="btn btn-secondary">Download all alert evidence</a>&nbsp;&nbsp;
        <form method="post" action="/clear_alerts">
            <button type="submit" class="btn btn-danger">Clear All Alerts</button>
        </form>
    </section>
    <hr>
    <footer>
        <p>&copy; 2026 CheatGuard</p>
    </footer>
</body>

</html>